@import "tailwindcss";

:root {
  --background: #f4faff;
  --foreground: #171717;
  --purple: #6a0df0;
  --purple-light: #6c0df07d;
  --purple-light-2: #6c0df013;
  --purple-light-3: #6c0df047;
  --purple-bg: #dbccf0;
  --purple-faq: #f4edff;
  --purple-faq-hov: #e8d9ff;
  --purple-dark: #380c76ca;
  --second-purple: #39073f;
  --purple-border: #6c0df044;
  --testimonials-bg-color: #f4faff;
  --light-blue: #e2f2ff;
  --light-blue-border: #d5ebfd;
  --dark-blue: #76b1e0;
  --font-clash: 'Clash Display', sans-serif;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  /*background: var(--background);*/
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}


.font-clash {
  font-family: var(--font-clash);
}